<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}
{% load custom_filters %}!
<!-- Название у нас будет Product -->
{% block title %}
<h1>{{ post.title|censor  }}</h1>
{% endblock title %}


<!-- В контенте на странице мы выводим сам товар, идентификатор которого был передан в url -->
{% block content %}
{% csrf_token %}

<h1>{{ post.title|censor  }}</h1>
<h4>От {{ post.creation_time|date:'M d Y' }}</h4>
<hr>
<a href="http://127.0.0.1:8000/news/{{ post.id }}/update/"><i> Редактировать </i></a> ,  <a href="http://127.0.0.1:8000/news/{{ post.id }}/delete/"><i> Удалить </i></a>
<hr>
    <a>{{ post.text|censor  }}</a>
<hr>
    <b>Категории:</b>
<br>
    {% for category in post.category.all %}
    <a href="http://127.0.0.1:8000/news/categories/{{ category.id }}"><i> {{ category }}</i></a><br>
{% endfor %}
<hr>
<hr>





<br>
<h4>Комментарии.</h4>
<br>
{% for comment in comment_text.text %}
<b>Комментарий №{{comment.id}} (пользователь № {{ comment.user_id }}) : </b><a>{{ comment.text }}</a>
<a>{{ username }}</a>

<hr>
{% empty %}
<a>Комментариев пока нет :( </a>
{% endfor %}

<hr>
{% endblock content %}
