{% extends 'flatpages/default.html' %}

{% load custom_filters %}
<!-- Подключаем новый файл с нашим тегом -->
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
   <h1>Поиск по статьям</h1>
   <h3>Всего найдено: {{ news|length }}</h3>
<hr>
    <form action="" method="get">
       {{ filterset.form.as_p }}
       <input type="submit" value="Найти" />
   </form>



   {% if news %}
        <table>
           <tr>
               <td>ID</td>
               <td>Заголовок</td>
               <td>Тип</td>
               <td>Дата</td>
               <td>Событие</td>
               <td>Рейтинг</td>
           </tr>

           {% for post in news %}
           <tr>

               <td>{{ post.id }}</td>
               <td>{{ post.title|truncatewords:3|censor }}</td>
               <td>{{ post.type }}</td>
               <td>{{ post.creation_time|date:'M d Y' }}</td>
               <td>{{ post.preview|censor }}</td>
               <td>{{ post.rating }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Статей нет!</h2>
   {% endif %}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}
